@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Regular.woff2') format('woff2'),
        url('BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bellefair';
    src: url('Bellefair-Regular.woff2') format('woff2'),
        url('Bellefair-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

